[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
black = "*"
coverage = "*"
pylint = "*"
pytest = "*"

[packages]
beautifulsoup4 = "*"
blinker = "*"
flask = "*"
flask-dance = {extras = ["sqla"], version = "*"}
flask-login = "*"
flask-sqlalchemy = "*"
lxml = "*"
python-dotenv = "*"
tqdm = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
